<div style="display: flex; flex-direction: column;">
  <h2>Manage Task</h2>
  <p><strong>Project:</strong> {{ task.project }}</p>

  <p><strong>Title:</strong> {{ task.title }}</p>
  <mat-form-field><mat-label>Description:</mat-label> <textarea matInput  [(ngModel)]=" task.description" ></textarea></mat-form-field>

  <mat-form-field><mat-label>Due Date:</mat-label> <input matInput [(ngModel)]=" task.dueDate" /></mat-form-field>

  <p *ngIf="task.assignedTo"><strong>Assigned To:</strong> {{ task.assignedTo }}</p>

  <mat-form-field>
    <mat-label>Priority:</mat-label>
    <mat-select [(ngModel)]="task.priority">
      <mat-option *ngFor="let priority of priorities" [value]="priority">{{ priority }}</mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field><mat-label>Status:</mat-label>
    <mat-select [(ngModel)]=" task.status">
      <mat-option *ngFor="let stat of status" [value]="stat">{{stat}}</mat-option>
    </mat-select>
    
</mat-form-field>

  <div style="display:  flex; flex-direction: row; justify-content: space-around;">
    <div style="display:  flex;justify-content: end; gap: 10px;">
      <!-- Task Editing Button -->
      <button mat-raised-button color="primary" (click)="editTask()">Save Task</button>

      <!-- Task Deletion Button -->
      <button mat-raised-button color="warn" (click)="deleteTask()">Delete Task</button>
    </div>

    <!-- Task Status Update Buttons -->
    <div>
      <button mat-raised-button color="primary" (click)="updateTaskStatus('Completed')">Mark as Completed</button>
    </div>
  </div>
</div>