<header>
  <div class="shimmer-wrapper">
    <img src="assets/TaskWiseLogo.png" width="120px" class="shimmer-image" />
    <div class="shimmer-overlay"></div>
  </div>
</header>
<div class="login-container">

<mat-card >
    <div class="login-form">
      <h2 style="text-align: center;">Login</h2>
      <form (ngSubmit)="login(username.value, password.value)">
        <mat-form-field>
          <input matInput type="text" id="username" #username placeholder="Username" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" id="password" #password placeholder="Password" required>
        </mat-form-field>
      <button style="width: 100%;" mat-raised-button type="submit">Login</button>
      </form>

    </div>
  </mat-card>
</div>