.task.completed {
  opacity: 0.6;
}

.high {
  color: red;
  font-weight: 700;
}

.medium {
  color: rgb(141, 141, 37);
}

.low {
  color: green;
}

.complete-icon{
  color: green !important;
}

.blue{
  background-color: rgba(0, 0, 255, 0.542) !important;
  color: white !important;
}
.yellow{
  background-color: rgba(207, 221, 14, 0.679) !important;
  color: white !important;
}
.green{
  background-color: rgba(31, 210, 82, 0.617) !important;
  color: white !important;
}
.task-card {
  margin: 10px;
}
.task-content {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 200px;
}

.column {
  flex: 1;
}
.column:nth-child(2) {
  padding-left: 20px; /* Add padding to separate columns */
}

/* Styling for specific elements */
.task-card mat-card-header,
.task-card mat-card-content,
.task-card mat-card-actions {
  padding: 10px; /* Add padding as needed */
}

.task-card mat-card-subtitle,
.task-card p {
  margin: 5px 0; /* Add margin for spacing */
}
.full-width {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4vh;
  align-items: center;
}

.mat-button-toggle {
  flex-grow: 1;
}
