
<div *ngIf="!task.isDeleted" class="task" [class.completed]="task.completed" >
  <mat-card class="task-card" matRipple>
    <mat-spinner *ngIf="isUpdating"></mat-spinner>
    <mat-card-content class="task-content">
      <div class="row">
        <!-- Left column for title -->
        <div class="column">
            <mat-card-title>{{ task.title }}</mat-card-title>
          <mat-card-subtitle><strong>Description:</strong> {{ task.description }}</mat-card-subtitle>
        </div>
        <!-- Right column for description, due date, etc. -->
        <div class="column">
          <mat-card-subtitle>Due Date: {{ task.dueDate | date: "MM/dd/YYYY" }}</mat-card-subtitle>
          <mat-hint style="font-size: 12px;" *ngIf="!task.completed">Estimated Works Days To Complete: {{task.duration}} days.</mat-hint>
          <ng-container *ngIf="!task.assignedTo; else assignedToSection">
            <mat-form-field (click)="$event.stopPropagation()">
              <mat-label>Assign To</mat-label>
              <mat-select [(ngModel)]="assignedTo" name="assignedTo" (selectionChange)="assignEmployee($event)">
                <mat-option *ngFor="let employee of employees" [value]="employee">{{ employee }}</mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>
          <ng-template #assignedToSection>
            <p>Assigned To: {{ task.assignedTo }}</p>
          </ng-template>
          <div>Status: {{ task.assignedTo ? task.status : 'New' }}</div>
          <p [class.high]="task.priority == 'High'" [class.medium]="task.priority == 'Medium'" [class.low]="task.priority == 'Low'">Priority: {{ task.priority }}</p>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="full-width" *ngIf="task.assignedTo">
      <mat-button-toggle-group [(ngModel)]="selectedOption" (ngModelChange)="toggleTaskStatus(task)" class="full-width">
        <mat-button-toggle value="In Progress" [class.blue]="task.status == 'In Progress' && !task.completed">In Progress</mat-button-toggle>
        <mat-button-toggle value="Ready For QA" [class.yellow]="task.status == 'Ready For QA' && !task.completed">Ready For QA</mat-button-toggle>
        <mat-button-toggle value="Complete" [class.green]="task.completed && task.status == 'Complete'">Complete</mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card-actions>
  </mat-card>
</div>
