<div style="position: relative;">
    <!-- Display AI Response -->
    <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
      <mat-spinner *ngIf="isWaiting"></mat-spinner>
    </div>
    
  
    <div style="padding: 10px;" *ngIf="responseFromAI">
      <h2>TaskWise Response:</h2>
      <table class="task-table">
     
        <tr>
          <td><strong>Name:</strong></td>
          <td><input type="text" [(ngModel)]="newCampaign.name" class="editable-field"></td>
        </tr>
        <tr>
          <td><strong>Description:</strong></td>
          <td><textarea [(ngModel)]="newCampaign.description" class="editable-field"></textarea></td>
        </tr>
        <tr>
          <td><strong>End Date:</strong></td>
          <td><input type="date" [(ngModel)]="newCampaign.endDate" class="editable-field"></td>
        </tr>
        <tr>
            <td><strong>Active Status:</strong></td>
            <td><input  [(ngModel)]="newCampaign.isActive" class="editable-field"></td>
          </tr>
        
  
      </table>
      <!-- Your dialog content here -->
    <div style="display: flex; justify-items: center;justify-content: center;">
  
  <button mat-button (click)="closeDialog()">Save Edited Changes</button>
  </div>
    </div>
    <div style="display: flex; justify-items: center;justify-content: center;">
  
    <button style="    font-size: 11px;" *ngIf="responseFromAI" mat-button (click)="regenerateResponse()"><mat-icon>refresh</mat-icon>Regenerate</button>
  </div>
    <!-- Input Field for Sending Prompts to AI -->
    <div style="position: fixed; bottom: 100px; display: flex; width: 80%; flex-direction: row;">
      <mat-form-field class="example-full-width" style="width: 80%;">
        <input matInput #promptInput type="text" style="width: 80%;" placeholder="Ask TaskWiseAI something...">
      </mat-form-field>
      <button mat-button (click)="sendMessageToAI(promptInput.value)">Send</button>
  
      <!-- Regenerate button -->
    </div>
  </div>
  