<h1 mat-dialog-title>TaskWiseAI Task Helper</h1>

<div style="position: relative;" >
    <!-- Display AI Response -->
    <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
      <mat-spinner *ngIf="isWaiting"></mat-spinner>
    </div>
  
    <div style="padding: 10px;" *ngIf="responseFromAI">
      <h2>TaskWise Response:</h2>
      <!-- Your dialog content here -->
 
    </div>
    <div style="display: block; letter-spacing: 1px;" mat-dialog-content>
{{responseFromAI}}
  
  </div>
    <!-- Input Field for Sending Prompts to AI -->

<div style="display: flex; flex-direction: column;" mat-dialog-actions>

    <button style="    font-size: 11px;" *ngIf="responseFromAI" mat-button (click)="regenerateResponse()"><mat-icon>refresh</mat-icon>Regenerate</button>

    <div style="position: fixed; bottom: 100px; display: flex; width: 80%; flex-direction: row; justify-content: center;">
      <mat-form-field class="example-full-width" style="width: 80%;">
        <input matInput #promptInput type="text" style="width: 80%;" placeholder="Ask TaskWiseAI something...">
      </mat-form-field>
      <button mat-button (click)="sendMessageToAI(promptInput.value)">Send</button>
      <button (click)="generateAudio()">Play Audio</button>
      <!-- Regenerate button -->
    </div>
  </div>
  </div>
  