<div style="padding: 20px;">

<header style="display: flex; flex-direction: row; justify-content: space-between;">
  <!-- Your header content goes here -->
  <h1 routerLink="/dashboard">TaskWiseAI</h1>
  <button mat-button (click)="toggleTheme()">
    <mat-icon [ngClass]="isDarkTheme ? 'dark-icon' : 'light-icon'">brightness_6</mat-icon>
  </button>
  
</header>

<!-- <nav>
  <app-navbar></app-navbar>
</nav> -->

<main>
  <!-- The main content of your application will be rendered here -->
  <router-outlet></router-outlet>
</main>

<footer>
  <!-- Your footer content goes here -->
  <p style="text-align: center;">&copy; 2024 TaskWiseAI. All rights reserved.</p>
</footer>
</div>