<div class="calendar">
  <div class="calendar-header">
    <div class="calendar-header-day" *ngFor="let day of daysOfWeek">{{ day }}</div>
  </div>
  <div class="calendar-body">
    <div class="calendar-week" *ngFor="let week of weeksInMonth">
      <div class="calendar-day" *ngFor="let day of week">
        <div class="calendar-day-number">{{ day.date }}</div>
        <div class="calendar-tasks">
          <div class="calendar-task" *ngFor="let task of getTasksForDay(day.fullDate)">
            {{ task.title }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
