<div class="dashboard">
  <div [class.closed]="!sideNavDisplayed" [class.opened]="sideNavDisplayed"><mat-icon
      (click)="displaySideNav()">{{sideNavDisplayed ? 'close' : 'arrow_right'}}</mat-icon>
  </div>

  <mat-sidenav-container class="example-container" autosize>
    <mat-sidenav #sidenav class="example-sidenav" mode="side" [opened]="sideNavDisplayed">
      <mat-nav-list>

        <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
          <a class="link" style="display: flex;" mat-list-item routerLink="/employee-calendar"> <mat-icon
              mat-list-icon>calendar_today</mat-icon>
            Employee Calendar
          </a>
        </div>
      </mat-nav-list>
      <mat-nav-list>
      </mat-nav-list>
    </mat-sidenav>
    <div class="example-sidenav-content">
      <div class="dashboard">
        <mat-tab-group class="dashboard-tabs">
          <mat-tab *ngFor="let project of projects" [label]="project.name"></mat-tab>
          </mat-tab-group>
      </div>
      <div class="dashboard">
        <mat-card style="display: flex; flex-direction: row; justify-content: space-between; padding: 10px;">
          <div style="justify-items: flex-start;">
            <button mat-raised-button color="primary" (click)="openCreateTaskDialog()">Create Task</button>
          </div>
          <div style="display: flex;align-items: end;justify-items: flex-end; justify-content: flex-end; gap: 10px;">
            <button mat-raised-button color="primary" (click)="sortByDate()">Sort by Date</button>
            <button mat-raised-button color="primary" (click)="sortByAssigned()">Sort by Assigned</button>
            <button mat-raised-button color="primary" (click)="sortByPriority()">Sort by Priority</button>
          </div>
        </mat-card>
        <mat-tab-group class="dashboard-tabs">
          <mat-tab label="Assigned Tasks">
            <div *ngFor="let task of   getAssignedTasks()">
              <app-task [task]="task"></app-task>
            </div>
          </mat-tab>
          <mat-tab label="Pending Tasks">
            <div *ngFor="let task of getPendingTasks()">
              <app-task [task]="task"></app-task>
            </div>
          </mat-tab>
          <mat-tab label="Completed Tasks">
            <div *ngFor="let task of tasks">
              <app-task *ngIf="task.completed" [task]="task"></app-task>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>

    </div>

  </mat-sidenav-container>
</div>